
<h2>Campus Party Brasil 2014 • Medidor de Consumo de Energia Conectado a Nuvem com Arduino</h2>

<h2>Consumo Total: <%= @consumo %> kWh</h2>

<script>
	var margin = {top: 20, right: 20, bottom: 30, left: 50},
	    width = 600 - margin.left - margin.right,
	    height = 300 - margin.top - margin.bottom;

	var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

	var x = d3.time.scale()
	    .range([0, width]);

	var y = d3.scale.linear()
	    .range([height, 0]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left");

	var area = d3.svg.area()
	    .x(function(d) { return x(d.hora); })
	    .y0(height)
	    .y1(function(d) { return y(d.potencia); });

	var svg = d3.select("body").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


	d3.csv("medidas", function(error, data) {
	  data.forEach(function(d) {
	    d.hora = parseDate(d.hora);
	    d.potencia = +d.potencia;
	  });

	  x.domain(d3.extent(data, function(d) { return d.hora; }));
	  y.domain([0, d3.max(data, function(d) { return d.potencia; })]);

	  svg.append("path")
	      .datum(data)
	      .attr("class", "area")
	      .attr("d", area);

	  svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + height + ")")
	      .call(xAxis);

	  svg.append("g")
	      .attr("class", "y axis")
	      .call(yAxis)
	    .append("text")
	      .attr("transform", "rotate(-90)")
	      .attr("y", 6)
	      .attr("dy", ".71em")
	      .style("text-anchor", "end")
	      .text("Potência (W)");
	});
</script>


<h2> Últimas Medidas </h2>
<table style='width:600px; cellborder:1px solid #CCC'>
	<tr>
		<th>
			Irms<br>
			(A)
		</th>
		<th>
			Potencia<br>
			(W)
		</th>
		<th>
			Data / Hora
		</th>
	</tr>
<% @medidas.reverse.each do |medida| %>
	<tr>
		<td>
			<%= medida.irms %>
		</td>
		<td>
			<%= medida.potencia %>
		</td>
		<td>
			<%= medida.created_at %>
		</td>
	</tr>
<% end %>
</table>	
