<html>
<head>
	<link rel="stylesheet" type="text/css" href="app.css">
  <title>Campus Party</title>
  <% puts request.inspect %>
</head>
<body>
  <script src="d3.v3.min.js" charset="utf-8"></script>
  <%= yield %>
</body>
</html>